{% extends "nosidebar.html" %}

{% block content %}
    <div class="container">
        <h1> Welcome to Lab Fridays!</h1>
        <p style="width:600px">
           Lab Friday is the Parsons Lab version of a group meeting. 
           It consists of one of the graduate students or postdocs ordering 
           lunch for the lab and we congregate, eat, and discuss anything from 
           science to pop culture. After lunch, we stay around the lab working 
           and collaborating on projects.
        </p>
        <p style="width:600px">
           The duties of the person who is in charge of providing lunch includes 
           deciding on a place to order food from, sending out the relavant emails 
           the day before Friday to give a heads up to people, and if it's a la carte, 
           giving people enough time to get their orders in, cleaning up lunch, and finally 
           getting reimbursed by Aaron for the meal. When you sign up for ordering lunch, you'll 
           get instructions on how to get reimbursed.
        </p>
    </div>

{% endblock %}
