<p>Hello {{ lunch.author.nickname }},</p>

<p>First of all, thank you for ordering us food today! You are the best!</p>

<p>In order to get reimbursed, follow the instructions below. <p>
<ol>
    <li> Fill out Entertainment Personal Reimbursement Claim Form
    <ul>
        <li>download and print out reimubrsment form
            <a href="http://sharedservices.berkeley.edu/pdf/Entertainment-Reimbursement-Form.pdf">here</a>
        <li>fill out Payee information</li>
        <li>enter total cost of meal and cost per attendee</li>
        <li>sign and date the form (and get Aaron to sign it too)</li>
    </ul>
    <li>  Scan the form and your receipt into one PDF document</li>
    <li> Upload onto BearBuy
    <ul>
        <li>sign in here: <a href ="bearbuy.is.berkeley.edu">bearbuy.is.berkeley.edu</a></li>
        <li>click the shopping cart icon on the left -&gt Go To -&gt View Forms </li>
        <li>campus shared services -&gt View Form </li>
        <li>fill out your name and email (leave the dept info blank)</li>
        <li>activity type = entertainment reimbursement </li>
        <li>fill out brief description under 'expense information' but leave expenses as $1.00!</li>
        <li>attach your PDF document ("internal attachments")</li>
        <li>click GO at the top</li>
        <li>click "view cart details"</li>
        <li>give the cart a name so you can find it later if you want</li>
        <li>enter ORGNODE and ACCOUNTING CODES (get them from Aaron)</li>
        <li>click SUBMIT at the top</li>
    </ul>
</ol>


<p>Also, to get a record of the places we have ordered from, amongst other things, please fill out this <a href="{{ url_for('ordering', name=lunch.author.nickname, date=lunch.datestamp, _external=True) }}" >form</a>.</p>
<p>Once again, thank you for volunteering for providine sustenance to our collaboration!<p>

Cheers
