{% extends "base.html" %}

{% block content %}
        <script>
            $(function() {
            $( "#datepicker" ).datepicker({
            dateFormat: 'mm/dd/yy',
            beforeShowDay: unavailable
            })
        });
        </script>
        <script>
            var unavailableDates =  {{ takendates|tojson }};
        </script>
        <script>
            function unavailable(date) {
            var outdate = jQuery.datepicker.formatDate('dd-mm-yy', date)
            if ($.inArray(outdate, unavailableDates) == -1) {
            return [true, ""];
            } else {
            return [false, "", "Unavailable"];
            }
        }
        </script>

  <div class="container">
  <h1>Sign Up to Order Lab Lunch</h1>
  <form action="" method="POST" name="login">
      {{ form.hidden_tag() }}
      <p>
          Name:<br>
          {{ form.name(size=64) }}
          {% for error in form.name.errors %}
            <span style="color:red"> [{{ error }}] </span>
          {% endfor %}<br>
      </p>
      <p>
          Email:<br>
          {{ form.email(size=64) }}
          {% for error in form.email.errors %}
            <span style="color:red"> [{{ error }}] </span>
          {% endfor %}<br>
      </p>
      <p>
          Date:<br>
          {{ form.date(id="datepicker") }}
          {% for error in form.date.errors %}
            <span style="color:red"> [{{ error }}] </span>
          {% endfor %}<br>
      </p>
      <p><input type="submit" value="Sign Up"></p>
  </form>
  </div>
{% endblock %}
